.header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100vw;
    height: $header_height;
    background-color: $main_color;
    justify-content: space-between;
    &__title {
        font-size: 50px;
    }
    &__list {
        display: inline-block;
        position: absolute;
        right: 0;
        &__create-article {
            font-size: 20px;
            line-height: $header_height;
        }
    }
}