@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -ms-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin border_box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin box-shadow($width, $height, $blur, $color) {
  -webkit-box-shadow: $width, $height, $blur, $color;
  -moz-box-shadow: $width, $height, $blur, $color;
  -o-box-shadow: $width, $height, $blur, $color;
  -ms-box-shadow: $width, $height, $blur, $color;
  box-shadow: $width, $height, $blur, $color;
}
